<% if current_user && controller_path != "sessions" %>
  <nav class="navbar navbar-inverse" role="navigation">
    <ul class="nav navbar-nav">
          <li><a href="<%= user_path(current_user) %>">Home</a></li>
          <li><%= link_to "Log out", session_path(current_user), method: :delete %></li>
          <li><a href="<%= user_path(current_user) %>"><%= current_user.username %></a></li>
        </ul>
  </nav>
<% end %>
